<h2>Contact Details</h2>
<h4>Name: </h4>
<%= @contact.name %>
<h4>Address:</h4>
<%= @contact.address %>
<h4>Tel:</h4>
<%= @contact.tel %>

<form class="" action="/contact/edit" method="get">
  <input type="hidden" name="id" value="<%= @contact.id %>">
  <input type="submit" name="" value="Update Details">
</form>

<form class="" action="/contact/delete" method="post">
  <input type="hidden" name="id" value="<%= @contact.id %>">
  <input type="submit" name="" value="Delete Contact">
</form>

<div>
  <a href="/contacts">Back</a>
</div>
